section.dh-gioithieu-3
	.dh-container
		h3 cơ hội nghề nghiệp
		.table-wrapper
			table
				thead
					tr 
						th Vị trí
						th Bộ phận
						th ngày đăng
						th Địa điểm
				tbody
					tr
						td 
							a(href="#") Quan hệ công chúng (PR)
						td Marketing
						td 14/01/2019
						td Tp.HCM
					tr
						td 
							a(href="#") Community Associate
						td Marketing
						td 14/01/2019
						td Tp.HCM
					tr
						td 
							a(href="#") Nhân viên Callcenter
						td Marketing
						td 14/01/2019
						td Tp.HCM
					tr
						td 
							a(href="#") IT Helpdesk
						td Marketing
						td 14/01/2019
						td Tp.HCM
					tr
						td 
							a(href="#") Nhân viên bán hàng
						td Marketing
						td 14/01/2019
						td Tp.HCM
					tr
						td 
							a(href="#") Thực tập sinh HR 
						td Marketing
						td 14/01/2019
						td TP. Buôn Ma Thuột
					tr
						td 
							a(href="#") Kế toán kho
						td Marketing
						td 14/01/2019
						td TP. Buôn Ma Thuột
					tr
						td 
							a(href="#") Content Marketing
						td Marketing
						td 14/01/2019
						td Tp.HCM
					tr
						td 
							a(href="#") Nhân viên Phân tích - Điều phối
						td Marketing
						td 14/01/2019
						td Tp.HCM
