section.dh-gioithieu-5
	.dh-container
		.dh-wrapper
			.row
				.col-lg-6
					h3 CHỦ ĐỀ THƯƠNG HIỆU
					p Hướng tới cộng đồng là chủ đề chính của thương hiệu HUG. Một thương hiệu ngoài niềm tin về sản xuất, doanh nghiệp Việt có thể xây dựng thương hiệu quốc gia về giày và đủ khả năng cạnh tranh ở quốc tế. HUG còn đem lại sự sẻ chia, ấm áp trong chính từng con người Việt ra thế giới, mang bản chất con cháu Lạc Hồng - đoàn kết, gắn bó và yêu thương.
				.col-lg-6
					img(src="./img/gioithieu/4.jpg", alt="")