section.dh-thethanhvien-list
	.dh-container
		.collection-item#section-1
			.row
				.col-xl-5.content
					h5 THẺ THÀNH VIÊN
					.thongso 
						i.lnr.lnr-chart-bars 
						p Mức tích luỹ (trong 1 năm) (VND) 
							br
							span Từ 30.000.000 đến dưới 50.000.000
					.thongso 
						i.lnr.lnr-gift
						p Ưu đãi sinh nhật  
							br
							span 5% hàng nguyên giá. Thêm 5% hàng đã giảm
				.col-xl-7.img
					img(src="./img/thethanhvien/1.png", alt="")
		.collection-item#section-2
			.row
				.col-xl-5.content
					h5 THẺ GOLD
					.thongso 
						i.lnr.lnr-chart-bars 
						p Mức tích luỹ (trong 1 năm) (VND) 
							br
							span Từ 80.000.000 đến dưới 150.000.000
					.thongso 
						i.lnr.lnr-gift
						p Ưu đãi sinh nhật  
							br
							span 10% hàng nguyên giá. Thêm 5% hàng đã giảm
				.col-xl-7.img
					img(src="./img/thethanhvien/2.png", alt="")
		.collection-item#section-3
			.row
				.col-xl-5.content
					h5 THẺ PLATINUMlitary pack
					.thongso 
						i.lnr.lnr-chart-bars 
						p Mức tích luỹ (trong 1 năm) (VND) 
							br
							span Từ 150.000.000 trở lên
					.thongso 
						i.lnr.lnr-gift
						p Ưu đãi sinh nhật  
							br
							span 20% hàng nguyên giá. Thêm 10% hàng đã giảm
				.col-xl-7.img
					img(src="./img/thethanhvien/3.png", alt="")
