section.dh-hoidap-list
	.dh-container.no-gutters
		.main
			.title 
				h2 Tài khoản của tôi
			.hoidap-item
				.question
					h4 1.  Cách đăng kí dịch vụ Mua hàng trực tuyến 
					i.mdi.mdi-chevron-down
				.conten 
					p Để thay đổi mật khẩu, bạn vui lòng làm theo các bước sau:
					p Bước 1: Vào mục "Tài khoản" > Nhấn "Đổi mật khẩu"
					p Bước 2: Tại bước Xác nhận mật khẩu, bạn nhập mật khẩu hiện tại để tiếp tục
					p Bước 3: Nhập mã xác minh được gửi tới số điện thoại bạn dùng để đăng ký tài khoản trên Hug
					p Bước 4: Nhập mật khẩu mới và xác nhận mật khẩu 
					p Lưu ý: mật khẩu phải dài từ 6-18 kí tự, bao gồm 1 chữ viết hoa và 1 chữ viết thường.
			.hoidap-item
				.question
					h4 2.  Làm thế nào để đăng ký tài khoản mua hàng tại HUG?
					i.mdi.mdi-chevron-down
				.conten 
					p Để thay đổi mật khẩu, bạn vui lòng làm theo các bước sau:
					p Bước 1: Vào mục "Tài khoản" > Nhấn "Đổi mật khẩu"
					p Bước 2: Tại bước Xác nhận mật khẩu, bạn nhập mật khẩu hiện tại để tiếp tục
					p Bước 3: Nhập mã xác minh được gửi tới số điện thoại bạn dùng để đăng ký tài khoản trên Hug
					p Bước 4: Nhập mật khẩu mới và xác nhận mật khẩu 
					p Lưu ý: mật khẩu phải dài từ 6-18 kí tự, bao gồm 1 chữ viết hoa và 1 chữ viết thường.
			.hoidap-item
				.question
					h4 3.  Làm thế nào để xóa thông tin thẻ tín dụng trong tài khoản HUG?
					i.mdi.mdi-chevron-down
				.conten 
					p Để thay đổi mật khẩu, bạn vui lòng làm theo các bước sau:
					p Bước 1: Vào mục "Tài khoản" > Nhấn "Đổi mật khẩu"
					p Bước 2: Tại bước Xác nhận mật khẩu, bạn nhập mật khẩu hiện tại để tiếp tục
					p Bước 3: Nhập mã xác minh được gửi tới số điện thoại bạn dùng để đăng ký tài khoản trên Hug
					p Bước 4: Nhập mật khẩu mới và xác nhận mật khẩu 
					p Lưu ý: mật khẩu phải dài từ 6-18 kí tự, bao gồm 1 chữ viết hoa và 1 chữ viết thường.
			.hoidap-item
				.question
					h4 4.  Làm thế nào để đổi được mật khẩu?
					i.mdi.mdi-chevron-down
				.conten 
					p Để thay đổi mật khẩu, bạn vui lòng làm theo các bước sau:
					p Bước 1: Vào mục "Tài khoản" > Nhấn "Đổi mật khẩu"
					p Bước 2: Tại bước Xác nhận mật khẩu, bạn nhập mật khẩu hiện tại để tiếp tục
					p Bước 3: Nhập mã xác minh được gửi tới số điện thoại bạn dùng để đăng ký tài khoản trên Hug
					p Bước 4: Nhập mật khẩu mới và xác nhận mật khẩu 
					p Lưu ý: mật khẩu phải dài từ 6-18 kí tự, bao gồm 1 chữ viết hoa và 1 chữ viết thường.
			.hoidap-item
				.question
					h4 5.  Tôi không thể đăng nhập vào tài khoản mua hàng của tôi, tôi cần làm gì? Và tôi không nhớ mật khẩu để đăng nhập vào tài khoản mua hàng, tôi cần làm gì?
					i.mdi.mdi-chevron-down
				.conten 
					p Để thay đổi mật khẩu, bạn vui lòng làm theo các bước sau:
					p Bước 1: Vào mục "Tài khoản" > Nhấn "Đổi mật khẩu"
					p Bước 2: Tại bước Xác nhận mật khẩu, bạn nhập mật khẩu hiện tại để tiếp tục
					p Bước 3: Nhập mã xác minh được gửi tới số điện thoại bạn dùng để đăng ký tài khoản trên Hug
					p Bước 4: Nhập mật khẩu mới và xác nhận mật khẩu 
					p Lưu ý: mật khẩu phải dài từ 6-18 kí tự, bao gồm 1 chữ viết hoa và 1 chữ viết thường.
			.hoidap-item
				.question
					h4 6.  Tôi muốn thêm/bớt sản phẩm, thay đổi địa chỉ giao hàng?
					i.mdi.mdi-chevron-down
				.conten 
					p Để thay đổi mật khẩu, bạn vui lòng làm theo các bước sau:
					p Bước 1: Vào mục "Tài khoản" > Nhấn "Đổi mật khẩu"
					p Bước 2: Tại bước Xác nhận mật khẩu, bạn nhập mật khẩu hiện tại để tiếp tục
					p Bước 3: Nhập mã xác minh được gửi tới số điện thoại bạn dùng để đăng ký tài khoản trên Hug
					p Bước 4: Nhập mật khẩu mới và xác nhận mật khẩu 
					p Lưu ý: mật khẩu phải dài từ 6-18 kí tự, bao gồm 1 chữ viết hoa và 1 chữ viết thường.
			.hoidap-item
				.question
					h4 7.  Tôi có thể hẹn thời gian giao hàng cụ thể hay hẹn giao vào chủ nhật không?
					i.mdi.mdi-chevron-down
				.conten 
					p Để thay đổi mật khẩu, bạn vui lòng làm theo các bước sau:
					p Bước 1: Vào mục "Tài khoản" > Nhấn "Đổi mật khẩu"
					p Bước 2: Tại bước Xác nhận mật khẩu, bạn nhập mật khẩu hiện tại để tiếp tục
					p Bước 3: Nhập mã xác minh được gửi tới số điện thoại bạn dùng để đăng ký tài khoản trên Hug
					p Bước 4: Nhập mật khẩu mới và xác nhận mật khẩu 
					p Lưu ý: mật khẩu phải dài từ 6-18 kí tự, bao gồm 1 chữ viết hoa và 1 chữ viết thường.
