section.dh-thanhtoan-4
	.dh-container
		.dh-wrapper
			.row
				.col-lg-6
					.img
						img(src="./img/payment/1.jpg", alt="")
				.col-lg-6
					.complete-message
						.title
							span.mdi.mdi-checkbox-marked-circle
							h2 ĐƠN HÀNG CỦA BẠN ĐÃ ĐƯỢC HOÀN TẤT!
						.content
							p Mã đơn hàng của bạn là: 
								span.code 161220001
							p Hiện tại đơn hàng của bạn đang được xử lý.
							p Thông tin chi tiết đơn hàng sẽ được gửi đến hộp thư của bạn: 
								a(href="#") info@hug.com
							address
								p Mọi thắc mắc xin vui lòng liên hệ
								p
									span Hotline
									a(href="#") 
										strong 0963 429 749
								p
									span Email
									a(href="#") info@hug.vn
							p Cảm ơn bạn đã đặt hàng. Đơn hàng của bạn sẽ được xử lý trong thời gian sớm nhất. Chúng tôi sẽ liên hệ lại với bạn để xác nhận yêu cầu và giao hàng.