section.dh-chinhsach
	.dh-container.no-gutters
		.fullContent
			h3 ĐIỀU KHOẢN SỬ DỤNG CHUNG
			br
			p Những điều khoản sử dụng này quy định việc sử dụng của quý vị đối với website mang tiên miền http://hug.com.vn thuộc quyền khai thác của Công ty Cổ phần Công nghiệp Đông Hưng. Việc quý vi sử dụng website này đồng nghĩa với việc chấp thuận những các điều khoản, điều kiện ghi nhận tại đây.yền thông, hiệu quả PR. 
			br 
			h3 HẠN CHẾ SỬ DỤNG CHUNG, QUYỀN SỞ HỮU TRÍ TUỆ
			br
			p Tất cả các nội dung thể hiện tại đây, bao gồm nhưng không giới hạn các thông tin, tài liệu, sản phẩm, hình ảnh, bố trí (sau đây gọi chung là “Tài liệu”) thuộc quyền sở hữu trí tuệ và/hoặc quyền khai thác sử dụng của của HUG đối với quyền tác giả, nhãn hiệu hàng hoá, sáng chế, kiểu dáng công nghiệp và các quyền khác theo quy định pháp luật.
			p Quý vị được sử dụng các Tài liệu đăng tải trên website này cho mục đích cá nhân và không được sử dụng cho bất kỳ mục đích nào khác ngoài mục đích phi thương mại. Việc sao chép, sửa đổi một phần hay toàn bộ, truyền tải, phân phối, nhượng lại quyền, bán hay xuất bản bất cứ tài nguyên nào đều bị cấm nếu không được sự chấp thuận trước bằng văn bản thành viên liên quan của HUG. Trích dẫn nguồn từ website này là yêu cầu bắt buộc khi sử dụng bất cứ Tài liệu nào của chúng tôi.
			br
			h3 SỰ TỪ CHỐI CHUNG
			br
			p Các dịch vụ và tài liệu được dự kiến chỉ dành cho khách hàng của HUG và được cung cấp chỉ cho sự thuận tiện của các đối tượng truy cập website này. HUG không cấp quyền sở hữu cho bất kỳ quyền sở hữu trí tuệ nào ngoài mục đích thực hiện các quyền trên của quý vị. Độ tinh cậy vào thông tin, tài liệu, độ chính xác tại đây rất cao. Tuy nhiên, HUG bảo lưu quyền và không chịu trách nhiệm đảm bảo độ chính xác, tính đầy đủ, hay độ tin cậy của các thông tin, dịch vụ, tài liệu và các khoản mục khác chứa đựng được cung cấp qua website này dưới mọi hình thức. 
			br 
			h3 GIỚI HẠN TRÁCH NHIỆM PHÁP LÝ 
			br
			p HUG sẽ không chịu bất cứ thiệt hại hay trách nhiệm nào phát sinh do việc sử dụng hay không thể sử dụng website của chúng tôi. Giới hạn trách nhiệm này bao gồm, nhưng không giới hạn bởi việc truyền tải virus có thể lây nhiễm vào thiết bị của quý vi, thiết bị điện tử hoặc đường dây thông tin liên lạc, điện thoại bị hư hỏng hay các sự cố kết nối khác không có khả năng truy cập Internet của quý vị, việc truy cập trái phép, lỗi hệ điều hành hay bất kỳ rủi ro nào khác.
			p Chúng thôi sẽ không chịu trách nhiệm đối với bất kỳ hành động hay thiệt hại nào phát sinh liên quan đến giới hạn trách nhiệm trên. Chúng tôi cũng không chịu bất cứ nghĩa vụ pháp lý nào đối với các thông tin, tài liệu được đăng tải cho dù được cung cấp bởi HUG hoặc bất kỳ bên thứ ba nào khác.
