.dh-product-detail
	.dh-container
		.row.no-gutters
			.col-lg-6
				.thumbnail-big-wrapper
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.thumbnail.swiper-zoom-container
									img(src="./img/home/product/1a.jpg", alt="")
							.swiper-slide
								.thumbnail.swiper-zoom-container
									img(src="./img/home/product/2a.jpg", alt="")
							.swiper-slide
								.thumbnail.swiper-zoom-container
									img(src="./img/home/product/3a.jpg", alt="")
							.swiper-slide
								.thumbnail.swiper-zoom-container
									img(src="./img/home/product/4a.png", alt="")
				.thumbnail-small-wrapper
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.thumbnail
									img(src="./img/home/product/1a.jpg", alt="")
							.swiper-slide
								.thumbnail
									img(src="./img/home/product/2a.jpg", alt="")
							.swiper-slide
								.thumbnail
									img(src="./img/home/product/3a.jpg", alt="")
							.swiper-slide
								.thumbnail
									img(src="./img/home/product/4a.png", alt="")
			.col-lg-6
				.info-wrapper._gray
					.title
						h1 VINTAS HIGH TOP
						p.subtitle ANTIQUE BRONZE
					.price
						span 495.000 VND
					.detail-wrapper
						p
							span Tình trạng: 
							span Còn hàng
						p
							span Mã sản phẩm: 
							span A60025
						.color-wrapper
							span Màu sắc:
							ul.color-list
								li
									a(href="javascript:void(0)").color.active
								li
									a(href="javascript:void(0)").color
						.size-wrapper
							span Size:
							ul.size-list
								li
									a(href="javascript:void(0)").size 35
								li
									a(href="javascript:void(0)").size 35
								li
									a(href="javascript:void(0)").size 35
								li
									a(href="javascript:void(0)").size 35
								li
									a(href="javascript:void(0)").size 35
						.addtocart-wrapper
							.quantity-wrapper
								span Số lượng:
								.quantity
									.btn-des -
									input(type="text", value="0")
									.btn-inc +
							.btn-wrapper
								.btn-addtocart-wrapper
									a(href="javascript:void(0)").btn-addtocart Thêm vào giỏ hàng
								.btn-addwishlist-wrapper
									a(href="javascript:void(0)").btn-addwishlist