.dh-product-detail
	.dh-container
		.row.no-gutters.product-info
			.col-lg-6
				.thumbnail-big-wrapper
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.thumbnail.swiper-zoom-container
									img(src="./img/home/product/1a.jpg", alt="")
							.swiper-slide
								.thumbnail.swiper-zoom-container
									img(src="./img/home/product/2a.jpg", alt="")
							.swiper-slide
								.thumbnail.swiper-zoom-container
									img(src="./img/home/product/3a.jpg", alt="")
							.swiper-slide
								.thumbnail.swiper-zoom-container
									img(src="./img/home/product/4a.png", alt="")
				.thumbnail-small-wrapper
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.thumbnail
									img(src="./img/home/product/1a.jpg", alt="")
							.swiper-slide
								.thumbnail
									img(src="./img/home/product/2a.jpg", alt="")
							.swiper-slide
								.thumbnail
									img(src="./img/home/product/3a.jpg", alt="")
							.swiper-slide
								.thumbnail
									img(src="./img/home/product/4a.png", alt="")
			.col-lg-6
				.info-wrapper._gray
					.title
						h1 VINTAS HIGH TOP
						p.subtitle ANTIQUE BRONZE
					.price
						span 495.000 VND
					.detail-wrapper
						p
							span Tình trạng: 
							span Còn hàng
						p
							span Mã sản phẩm: 
							span A60025
						.color-wrapper
							span Màu sắc:
							ul.color-list
								li
									a(href="javascript:void(0)").color.active
								li
									a(href="javascript:void(0)").color
						.size-wrapper
							span Size:
							ul.size-list
								li
									a(href="javascript:void(0)").size 35
								li
									a(href="javascript:void(0)").size 35
								li
									a(href="javascript:void(0)").size 35
								li
									a(href="javascript:void(0)").size 35
								li
									a(href="javascript:void(0)").size 35
						.addtocart-wrapper
							.quantity-wrapper
								span Số lượng:
								.quantity
									.btn-des -
									input(type="text", value="0")
									.btn-inc +
							.btn-wrapper
								.btn-addtocart-wrapper
									a(href="javascript:void(0)").btn-addtocart Thêm vào giỏ hàng
								.btn-addwishlist-wrapper
									a(href="javascript:void(0)").btn-addwishlist
					.description
						span Mô tả sản phẩm
						p Nét Xưa Chưa Cũ. Không nổi bật trong đám đông, cũng không nhạt nhoà trong đám cưới, dòng Vintas phủ lên đôi chân những gam màu điềm đạm, giúp bạn vững tâm tiến bước, đi lạc khắp nơi. Từ chân trời góc bể, đến núi thẳm rừng xa.
		.row.related-product
			.col-12
				h2 Sản phẩm liên quan
				.related-product-slider
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.product-item._yellow
									.heading
										h4 BASAS HIGH TOP
									.body
										.img
											img(src="./img/home/product/1a.jpg", alt="")
										.price
											p 360.000 VND
										.code
											p A60010 - DARK BLUE
										.button
											a(href="javascript:void(0)")
												span.button-main Chi tiết
												span.button-circle
										.tag
											span Sale off
							.swiper-slide
								.product-item._gray
									.heading
										h4 BASAS HIGH TOP
									.body
										.img
											img(src="./img/home/product/1a.jpg", alt="")
										.price
											p 360.000 VND
										.code
											p A60010 - DARK BLUE
										.button
											a(href="javascript:void(0)")
												span.button-main Chi tiết
												span.button-circle
										.tag
											span Sale off
							.swiper-slide
								.product-item._green
									.heading
										h4 BASAS HIGH TOP
									.body
										.img
											img(src="./img/home/product/1a.jpg", alt="")
										.price
											p 360.000 VND
										.code
											p A60010 - DARK BLUE
										.button
											a(href="javascript:void(0)")
												span.button-main Chi tiết
												span.button-circle
										.tag
											span Sale off
					.swiper-navigation
						.swiper-prev
							span.mdi.mdi-chevron-left
						.swiper-next
							span.mdi.mdi-chevron-right