section.dh-phanphoi-1
	.dh-container
		.row
			.col-lg-6
				.content
					h2 TRỞ THÀNH nhà phân phối CỦA HUG
					ul
						li Sẵn sàng chia sẻ lợi nhuận cùng Nhà phân phối, chia sẻ cơ hội, chia sẻ lợi ích kinh doanh và đồng hành lâu dài, bền vững cùng Nhà phân phối.
						li Quan tâm, hỗ trợ Nhà phân phối cũng như có những hỗ trợ hợp tác nhằm nâng cao tính mật thiết giữa Nhà phân phối và Công ty.
						li Bảo vệ tối đa cho Nhà phân phối trước những biến động của Thị trường.
						li Bảo vệ khách hàng cho Nhà phân phối, đảm bảo tính công bằng trên toàn bộ hệ thống phân phối.
						li Cùng Nhà phân phối mở rộng thị trường và mở rộng kênh phân phối.
					a(href="#").btn-contact Liên hệ hợp tác
			.col-lg-6
				.img
					img(src="./img/phanphoi/1.jpg", alt="")