<?xml version="1.0" encoding="utf-8" ?>
<templates>
	<newstype name="Tin tức" value="0"></newstype>
	<!--<showoption name="Icon new" value="1"></showoption>-->
	<templatelist xsltname="DHE-Blogs.xslt" name="Danh sách blog"></templatelist>
	<templatelist xsltname="DHE-CauHoi.xslt" name="Danh sách cau hoi"></templatelist>
	<templatelist xsltname="DHE-CoHoiNgheNghiep.xslt" name="Danh sách nghe nghiep"></templatelist>
	<templatedetail xsltname="DHE-BlogDetail.xslt" name="chi tiet blog"></templatedetail>
	<templatedetail xsltname="DHE-TuyenDungCT.xslt" name="Chi tiet tuyendung"></templatedetail>
	<position>
		<add name="Tin Tuc Trang chủ" value="1" resourcefile="" />
	</position>
</templates>