section.dh-form
	.dh-container.no-gutters
		.row.no-gutters
			.col-lg-6 
				.collection-item
					h2 Liên hệ với Hug
					p Vui lòng điền thông tin vào mẫu. Chúng tôi sẽ liên hệ với bạn sau khi nhận được thông tin. 
					.contact-form
						.wrap-form
							div
								.form-group.qparagraph  
									label Họ Tên
									input(type="text")
								.form-group 
									label Điện thoại
									input(type="text")
								.form-group 
									label Email
									input(type="text")
								.form-group.qparagraph 
									label Lời nhắn
									textarea
							.form-group.frm-btnwrap
								label
								.frm-btn
									input.btn.frm-btn-submit(type="submit" value="Gửi")
									input.btn.frm-btn-reset(type="reset" value="nhap lai")
			.col-lg-6
				.collection-item.bg-top
					h2 Địa chỉ văn phòng HUG
					.thongtin 
						i.lnr.lnr-chart-bars 
						p Đường số 2, KCN Tân Đông Hiệp A, Thị xã Dĩ An, Tỉnh Bình Dương, Việt Nam 
					.thongtin 
						i.lnr.lnr-gift
						p 0123 456 789 
					.thongtin 
						i.lnr.lnr-gift
						p 0274 372 7013 
					.thongtin 
						i.lnr.lnr-gift
						p info@hug.com.vn 
					.thongtin 
						i.lnr.lnr-gift
						p Thứ 2 - Chủ nhật: 9:30AM - 10PM 
