section.dh-thethanhvien-nav
    .dh-container.no-gutters
        .mobileNav Danh mục
        ul
            li.active
                a(href="javascript:void(0)") Thẻ thành viên
            li
                a(href="javascript:void(0)") Thẻ Gold
            li
                a(href="javascript:void(0)") Thẻ Platinum
