section.dh-thethanhvien-nav
	.dh-container.no-gutters
		.mobileNav Danh mục
		ul
			li.active
				a(href="#section-1") Thẻ thành viên
			li
				a(href="#section-2") Thẻ Gold
			li
				a(href="#section-3") Thẻ Platinum
