section.dh-gioithieu-4
	.dh-container
		.dh-wrapper
			h3 CÁC HOẠT ĐỘNG THỂ HIỆN Ý TƯỞNG
			.row
				.col-lg.col-sm-6
					article.item
						.img
							img(src="./img/gioithieu/hoatdong/1.jpg", alt="")
						h4 Manufacturing
						p HUG luôn được sản xuất bằng máy móc hiện đại, nguyên liệu nhập khẩu. Đặc biệt tối ưu lượng cao su 100% tự nhiên trên 1 đôi giày từ các đồn điền cao su Việt Nam.
				.col-lg.col-sm-6
					article.item
						.img
							img(src="./img/gioithieu/hoatdong/5.jpg", alt="")
						h4 Manufacturing
						p HUG luôn được sản xuất bằng máy móc hiện đại, nguyên liệu nhập khẩu. Đặc biệt tối ưu lượng cao su 100% tự nhiên trên 1 đôi giày từ các đồn điền cao su Việt Nam.
				.col-lg.col-sm-6
					article.item
						.img
							img(src="./img/gioithieu/hoatdong/2.jpg", alt="")
						h4 Manufacturing
						p HUG luôn được sản xuất bằng máy móc hiện đại, nguyên liệu nhập khẩu. Đặc biệt tối ưu lượng cao su 100% tự nhiên trên 1 đôi giày từ các đồn điền cao su Việt Nam.
				.col-lg.col-sm-6
					article.item
						.img
							img(src="./img/gioithieu/hoatdong/3.jpg", alt="")
						h4 Manufacturing
						p HUG luôn được sản xuất bằng máy móc hiện đại, nguyên liệu nhập khẩu. Đặc biệt tối ưu lượng cao su 100% tự nhiên trên 1 đôi giày từ các đồn điền cao su Việt Nam.
				.col-lg.col-sm-6
					article.item
						.img
							img(src="./img/gioithieu/hoatdong/4.jpg", alt="")
						h4 Manufacturing
						p HUG luôn được sản xuất bằng máy móc hiện đại, nguyên liệu nhập khẩu. Đặc biệt tối ưu lượng cao su 100% tự nhiên trên 1 đôi giày từ các đồn điền cao su Việt Nam.