section.dh-filter
	.dh-container.no-gutters
		.wrapper
			.row
				.col-xl.filter-item
					.form-group
						label Phân loại
						select(name="").select-show 
							option lorem 1
							option lorem 1
							option lorem 1
				.col-xl.filter-item
					.form-group
						label Kiểu dáng
						select(name="").select-show 
							option lorem 1
							option lorem 1
							option lorem 1
				.col-xl.filter-item
					.form-group
						label Dòng sản phẩm
						select(name="").select-show 
							option lorem 1
							option lorem 1
							option lorem 1
				.col-xl.filter-item
					.form-group
						label Chất liệu
						select(name="").select-show 
							option lorem 1
							option lorem 1
							option lorem 1
				.col-xl.filter-item
					.form-group
						label Màu sắc
						select(name="").select-show 
							option lorem 1
							option lorem 1
							option lorem 1