extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = ''
block header
	include ../lib/header/index.pug
block main
	include ../lib/lienhe/map/index.pug
	include ../lib/lienhe/form/index.pug
block footer
	include ../lib/footer/index.pug
