section.dh-tuyendung-2
    .dh-container
        .dh-wrapper
            h3 ĐIỂM CHÍNH THƯƠNG HIỆU
            .row.list-item
                .col-lg.item
                    figure
                        .icon
                            img(src="./img/tuyendung/icon/1.png", alt="")
                        figcaption
                            h5 Thăng tiến
                            p Ưu tiên phát triển nội bộ Cơ hộ 6 tháng lên quản lý
                .col-lg.item
                    figure
                        .icon
                            img(src="./img/tuyendung/icon/2.png", alt="")
                        figcaption
                            h5 Môi trường
                            p Làm việc năng động, cởi mở, chân thành
                .col-lg.item
                    figure
                        .icon
                            img(src="./img/tuyendung/icon/3.png", alt="")
                        figcaption
                            h5 Đào tạo
                            p Phát triển năng lực theo lộ trình thăng tiến
                .col-lg.item
                    figure
                        .icon
                            img(src="./img/tuyendung/icon/4.png", alt="")
                        figcaption
                            h5 Thưởng
                            p Hấp dẫn ( Tháng 13 bình quân 2 tháng theo số liệu 2018)
                .col-lg.item
                    figure
                        .icon
                            img(src="./img/tuyendung/icon/5.png", alt="")
                        figcaption
                            h5 Đãi ngộ khác
                            p Mua hàng theo chính sách nội bộ
