section.dh-thanhtoan-2
	.dh-container
		.row
			.col-lg-7
				.cart-login
					h1 Đăng nhập
					.login-form
						.select-group
							ul
								li
									input#rdo1(type="radio", name="rdo")
									label(for='rdo1') Đặt hàng không cần đăng ký
								li
									input#rdo2(type="radio", name="rdo")
									label(for='rdo2') Tôi đã có tài khoản
						h2 Vui lòng nhập thông tin
						.checkout-user
							.form-group
								label(for="#") Email
								input(type="text", name="")
							.form-group
								label(for="#") Mật khẩu
								input(type="text", name="")
							.form-group.form-link
								a(href="#") Quên mật khẩu?
								a(href="#") Đăng ký
							input(type="submit", value="Tiếp tục")
						.other-text Hoặc đăng nhập bằng:
						.other-login
							a(href="#").fb-login
								.icon
									em.mdi.mdi-facebook
								span Facebook
							a(href="#").gg-login
								.icon
									em.mdi.mdi-google
								span Google
			.col-lg-5
				.summary-coupon-wrapper
					.cart-coupon
						h3 Mã giảm giá - quà tặng
						.form-group
							input(type="text")
							button.btn-submitcoupon áp dụng
					.cart-summary
						h3 
							span ĐƠN HÀNG CỦA BẠN
							a(href="#").lnr.lnr-pencil
						.cart-product
							.product-name
								.name Basas High Top
								.subtitle Cloudburst
							.product-price
								.price 360,000 VNĐ
								.quantity x1
								.total 290,000 VNĐ
						.cart-product
							.product-name
								.name Basas High Top
								.subtitle Cloudburst
							.product-price
								.price 360,000 VNĐ
								.quantity x1
								.total 290,000 VNĐ
						.sub-total
							strong Tạm tính
							span 855,000 VNĐ
						.shipping-fee
							strong phí vận chuyển
							span 855,000 VNĐ
						.discount
							strong GIẢM GIÁ
							span 855,000 VNĐ
						.total-price
							strong TỔNG CỘNG
								small Giá chưa bao gồm VAT
							span 785,000 VNĐ

