<?xml version="1.0" encoding="utf-8" ?>
<settings>
	<!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
	<position>
		<add name="Menu header" value="1" resourcefile="" />
		<add name="Menu popup" value="2" resourcefile="" />
		<add name="Menu Bo suu tap" value="4" resourcefile="" />
	</position>
</settings>