section.dh-tuyendung-1
	.dh-container
		.item
			.row.no-gutters
				.col.content
					h5 Câu chuyện của HUG
					p Thương hiệu “HUG” đã phát triển mạnh mẽ với hệ thống cửa hàng trải dài trên toàn quốc và website bán hàng trực tuyến thân thiện, chuyên nghiệp hàng đầu Việt Nam. Không dừng lại ở đó, dịch vụ của HUG luôn mang đến sự hài lòng do đó quyền lợi của khách hàng luôn được đáp ứng, thoả mãn…
					p Với nhu cầu mở rộng và phát triển, HUG mong muốn tìm kiếm và kết nối những nhân lực tâm huyết với thương hiệu Việt.
					p Ở HUG, bạn là yếu tố quyết định cho tương lai của HUG, chính sách nhân sự của HUG là tạo mọi điều kiện để các bạn phát huy hết khả năng của mình trong một môi trường làm việc năng động và chuyên nghiệp. HUG cam kết bạn không chỉ nhận được thu nhập và chế độ phúc lợi xứng đáng mà còn tạo điều kiện để bạn được học hỏi nâng cao năng lực qua thực tế phân công công việc cùng với hướng dẫn tận tình qua chương trình đào tạo.
					p Tại HUG, bạn không chỉ đơn thuần là người lao động mà bạn còn là người bạn đồng hành cùng chúng tôi để trưởng thành và phát triển. Hãy liên hệ với chúng tôi khi bạn đã sẵn sàng cho những hoài bão lớn.
			.row.no-gutters
				.col-sm-6.col-lg-6.img 
					img(src="./img/tuyendung/1.png", alt="")
				.col-sm-6.col-lg-3.img 
					img(src="./img/tuyendung/2.png", alt="")
				.col-sm-6.col-lg-3.img 
					img(src="./img/tuyendung/3.png", alt="")
				.col-sm-6.col-lg-3.img 
					img(src="./img/tuyendung/5.png", alt="")
				.col-sm-6.col-lg-3.img 
					img(src="./img/tuyendung/6.png", alt="")
				.col-sm-6.col-lg-6.img 
					img(src="./img/tuyendung/4.png", alt="")
				
