section.dh-sanpham
	.dh-container
		.row.no-gutters.list-item
			.col-lg-4.package
				.product-item._yellow
					.heading
						h4 BASAS HIGH TOP
					.body
						.img
							img(src="./img/home/product/1a.jpg", alt="")
						.price
							p 360.000 VND
						.code
							p A60010 - DARK BLUE
						.button
							a(href="javascript:void(0)")._yellow
								span.button-main Chi tiết
								span.button-circle
						.tag
							span Sale off
						a(href="#").add-wishlist
							span.lnr.lnr-heart
			.col-lg-4.package
				.product-item._gray
					.heading
						h4 BASAS HIGH TOP
					.body
						.img
							img(src="./img/home/product/1a.jpg", alt="")
						.price
							p 360.000 VND
						.code
							p A60010 - DARK BLUE
						.button
							a(href="javascript:void(0)")._yellow
								span.button-main Chi tiết
								span.button-circle
						
			.col-lg-4.package
				.product-item._green
					.heading
						h4 BASAS HIGH TOP
					.body
						.img
							img(src="./img/home/product/1a.jpg", alt="")
						.price
							p 360.000 VND
						.code
							p A60010 - DARK BLUE
						.button
							a(href="javascript:void(0)")._yellow
								span.button-main Chi tiết
								span.button-circle 
						.tag
							span New
		.viewAll
			a(href="javascript:void(0)")
				em.mdi-arrow-down.mdi