section.dh-tuyendung-ct-1
	.dh-container.no-gutters
		.heading
			.title
				h2 Chuyên viên Quan hệ công chúng (PR)
			.time
				p 28.12.2018 
		.request 
			.row 
				.col-sm-6.attr-item
					.row 
						.col-5
							h4 Nơi Làm Việc
						.col-7 
							p Hồ Chí Minh (Quận 3)
				.col-sm-6.attr-item
					.row 
						.col-5
							h4 Cấp Bậc
						.col-7 
							p Nhân viên
				.col-sm-6.attr-item
					.row 
						.col-5
							h4 Cấp Bậc
						.col-7 
							p Nhân viên
				.col-sm-6.attr-item
					.row 
						.col-5
							h4 Cấp Bậc
						.col-7 
							p Nhân viên
		.fullContent
			h3 Mô Tả Công Việc
			p Lập kế hoạch PR và quan hệ Celebrities/KOLs cho thương hiệu Hug 
			p Tổ chức triển khai các hoạt động PR doanh nghiệp, xây dựng và phát triển, duy trì quan hệ báo chí và các đối tác có liên quan. 
			p Thực hiện các hoạt động booking (PR/Celebs/KOLs) phù hợp cho từng chiến dịch 
			p Thực hiện các bài viết, thông cáo báo chí, tin tức 
			p Tổng hợp, phân tích, đánh giá hiệu quả truyền thông, hiệu quả PR. 
			p Làm các báo cáo liên quan theo yêu cầu.
			br 
			h3 QUYỀN LỢI
			ul 
				li Môi trường làm việc năng động, ưu tiên phát triển năng lực bản thân;
				li Tham gia đầy đủ chế độ theo quy định của công ty và pháp luật; 
				li Được đào tạo theo chính sách đào tạo của công ty;
				li Được mua hàng với giá ưu đãi theo chính sách mua hàng nội bộ;
				li Được làm việc với các Leaders trẻ, năng động;
				li Du lịch theo chế độ nghỉ mát của công ty.
			br
			h3 Yêu Cầu Công Việc
			p Bằng cấp: Cao đẳng trở lên, chuyên ngành lĩnh vực Kinh Tế như Marketing, Quản trị kinh doanh, tốt nghiệp báo chí là một lợi thế…
			p Tốt nghiệp ĐH/CĐ chuyên ngành Truyền thông, Báo chí, Marketing và các ngành có liên quan
			p Có kiến thức chuyên sâu về quan hệ công chúng, celebrities, KOLs
			p Hiểu biết về nghiệp vụ báo chí, khả năng thu thập phân tích thông tin, có khả năng viết bài, viết thông cáo báo chí.
			p Ưu tiên ứng viên có quan hệ báo chí, celebs, KOLs tốt lĩnh vực thời trang
			p Tỉ mỉ, chi tiết
			p Khả năng tìm kiếm, đánh giá và tổng hợp thông tin
			p Chủ động, tinh thần làm việc với trách nhiệm cao
			p Yêu thích làm việc môi trường năng động.
			.button 
				a.btn(href="javascript:void(0)") Ứng tuyển
	.dh-container
		.heading
			.title
				h2 Tin tuyển dụng khác
		.table-wrapper
			table
				thead
					tr 
						th Vị trí
						th Bộ phận
						th ngày đăng
						th Địa điểm
				tbody
					tr
						td 
							a(href="#") Quan hệ công chúng (PR)
						td Marketing
						td 14/01/2019
						td Tp.HCM
					tr
						td 
							a(href="#") Community Associate
						td Marketing
						td 14/01/2019
						td Tp.HCM
					tr
						td 
							a(href="#") Nhân viên Callcenter
						td Marketing
						td 14/01/2019
						td Tp.HCM
					tr
						td 
							a(href="#") IT Helpdesk
						td Marketing
						td 14/01/2019
						td Tp.HCM
					tr
						td 
							a(href="#") Nhân viên bán hàng
						td Marketing
						td 14/01/2019
						td Tp.HCM
					tr
						td 
							a(href="#") Thực tập sinh HR 
						td Marketing
						td 14/01/2019
						td TP. Buôn Ma Thuột
					tr
						td 
							a(href="#") Kế toán kho
						td Marketing
						td 14/01/2019
						td TP. Buôn Ma Thuột
					tr
						td 
							a(href="#") Content Marketing
						td Marketing
						td 14/01/2019
						td Tp.HCM
					tr
						td 
							a(href="#") Nhân viên Phân tích - Điều phối
						td Marketing
						td 14/01/2019
						td Tp.HCM
